QWidget
{
    background-color : #61656b
}

QMainWindow::separator
{
    background : #343538;
    width : 3px;
    height : 3px;
}

QStatusBar
{
    background : #343538;
}

QStatusBar::text
{
    color : white
}

QPushButton
{
    background-color : #343538;
    border-width : 2px;
    border-style : outset;
    border-radius : 5px;
    border-color : #313a56;
    padding : 5px;
}

QPushButton:pressed
{
    background-color : #414963;
    border-style : inset
}

QDockWidget
{
    background: #606268;
    border : 5px;
    border-color : #313a56;
    font : bold;

}

QDockWidget::title
{
    background : #71747a;
    padding = 5px;
}

QMenuBar
{
    background-color: #71747a;
}

QMenuBar::item
{
    spacing : 2px;
    padding : 3px 3px;
    background : transparent;
    border-radius : 1px
}

QMenuBar::item:selected
{
    background-color : #909196;
}

QMenu
{
    background-color : #909196;
    margin : 2px;
}

QMenu::item
{
    background-color : transparent;
}

QToolBar
{
    background-color : #71747a;
    min-height : 40px;
    min-width : 60px;
}

QLabel[UseSeparator="true"]
{
    border : 2px solid #252525;
}

QLabel[SettingsLabel="true"]
{
    background-color : #565656;
}

QPushButton#Parameter
{
    border : 2px solid #252525;
    background-color : #787878;
    padding : 0px;
    border-radius : 0px;
}